
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-size: cover;
}
#photo{
width: 250px;
padding-left: 60px;
margin-top: 30px;
}
#head{
    display: flex;
    margin-left: 20px;
}

#container{
    position: absolute;
    width:400px;
    padding: 10px 10px;
    margin: -50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    bottom: 0px;
    right: 50px;
}
#container>h1{
    text-align: center;
    margin-top:30px;
    margin-bottom:10px;
    font-size: 22PX;
    border-bottom: 3px solid yellow;
    display: inline-block;
    cursor: pointer;
}
#container>h1:hover{
    color:#c5bac3;
}
#loginfill{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
#loginfill:nth-child(4){
    display: flex;
}
#p2{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
#pic2{
    width: 40px;
    
}
input[type="submit"]{
    width: 100%;
    background-color:#ffda00 ;
    padding: 10px 10px;
    border: none;
    color:black;
    font-size: 14px;
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
     font-size: 18px;
     font-weight: bold;
    
}
input[type="email"],
input[type="password"]
{
width: 100%;
padding: 12px 5px;
border: 1px solid #c5bac3;
resize: vertical;
margin-top: 15px;
font-size: 18px;
color: #c5bac3;

}
#capcha{
    width: 55%;
}
input:focus{
    outline: none;
}

a{
    text-decoration: none;
    color: rgb(2, 70, 173);
}
#par{
    justify-content: center;
    align-items: flex-end;
}
#pic{
margin-top: 50%;
margin-bottom: 20px;
}
#pic3{
    margin-left: 20px;
}
#head2{
    margin-left: 20px;
    border-bottom:2px solid #ffda00;
    color: gray;
}
#head1{
    border-bottom: 2px solid #ffda00;
    color: gray;
}