* {
    margin: 0px;
    padding: 0px;
}

/* main div style  */
#container {

    width: 90%;
    margin: auto;

}

#container>div:nth-child(1) {

    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;

}

#container>div:nth-child(1)>div {
    /* border: 1px solid green; */
    width: 100px;
    height: 120px;
    text-align: center;

}


/* mid div style  */

#mid_div {
    width: 100%;
    height: 100px;
    display: flex;
    /* background-image: linear-gradient(yellow,grey); */
}

#bag {

    background-color: grey;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#midbag {

    background-image: linear-gradient(red,grey);
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mid_div>div>p {
    font-size: 20px;

}



#gridbox {

    width: 90%;
    /* height: 1000px; */
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px 20px;


}

#gridbox>div {

    height: auto;
    line-height: 25px;
}

#gridbox>div>img {
    width: 100%;
}

#gridbox>div>p:nth-child(3) {
    color: rgb(204, 38, 121);
    width: 120px;
    font-size: 20px;
}

#gridbox>div>p:nth-child(4) {
    width: 250px;
    text-decoration: line-through;
    height: 30px;
    font-size: 20px;
}

#gridbox>div>p:last-child{
    /* border: 1px solid green; */

/* width: 120px; */
font-size: 20px;
}

*/ img+h2 {
    font-size: 20px;
}

#gridbox>div:hover {
    color: darkcyan;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button {
    background-color: transparent;
    border: transparent;
    margin-left: 200px;
    cursor: pointer;
}

#mid_div+p {
    margin: 5px 0px 0px 10px;
}

#container>div:nth-child(1):hover{
    color:grey;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

#midbag:hover{
    color:antiquewhite
}

#mid_div:hover{
    color:beige;
}




